<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>248665806475-b92rpd478ptrmb2s92mcil4b9mbmf9ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248665806475-b92rpd478ptrmb2s92mcil4b9mbmf9ll</string>
	<key>API_KEY</key>
	<string>AIzaSyDoHX1tDOznmeKz68kCbdzh0oWIrgVossA</string>
	<key>GCM_SENDER_ID</key>
	<string>248665806475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexlim.sQRel</string>
	<key>PROJECT_ID</key>
	<string>sqrel-90ef7</string>
	<key>STORAGE_BUCKET</key>
	<string>sqrel-90ef7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248665806475:ios:961821a09b27f5e2</string>
	<key>DATABASE_URL</key>
	<string>https://sqrel-90ef7.firebaseio.com</string>
</dict>
</plist>